 /* Minimalistic styling for the container */
 .dcontainer {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    /* border: 1px solid #030303; */
    border-radius: 5px;
     background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the date and author */
.dinfo {
    font-size: 25px;
    color: #f9f7f7;
    margin-bottom: 10px;
    text-align: center;
}
