 /* Minimalistic styling for the container */
 .apod-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    /* border: 1px solid #030303; */
    border-radius: 5px;
     background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling for the image */
.apod-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Styling for the title */
.apod-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: bisque;
}
/* Styling for the date and author */
.apod-info {
    font-size: 14px;
    color: #f9f9f9;
    margin-bottom: 10px;
}
/* Styling for the description */
.apod-description {
    font-size: 16px;
    line-height: 1.6;
    color: aliceblue;
}