.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#heading {
  font-size: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

.container {
  display: flex;
  /* Use flexbox layout */
  justify-content: space-between;
  /* Distribute items evenly along the main axis */
}

body{
  background-image: url('https://apod.nasa.gov/apod/image/2402/TwilightShades_Giannobile_1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}