#card {
  /* border: 2px solid #090909;  */
  background-color: transparent; /* Transparent background */
  padding: 20px; /* Add padding as needed */
  height: 50%;
  width: 20%;
  margin-left: 30px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

#card h2 {
  margin-top: 0; /* Remove default margin for h2 */
}

#card p {
  margin-bottom: 10px; /* Add some space below the paragraph */
}

#card button {
  background-color: #000000; /* White background for button */
  color: #f8f7f7; /* Black text color for button */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Add padding to button */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Add some border radius for rounded corners */
  transition: all 0.3s ease;
}

#card button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  color: rgb(2, 35, 35);
  border: 2px #000000 solid;
}

#card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* fonts */
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}